body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(183, 226, 231, 0.58);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand span {
    font-size: 15px;
}

ul.nav.navbar-nav li {
    border: 1px solid;
}


#emailSendingStatus {
    color: #4f7fc1;
    font-size: medium;
    text-align: center;
}

body .emailSend {
    margin: 3px;
}

body .emailClose {
    margin: 3px;
}

body #message-form-alert{
    display:none;
}
